<section class="home-container">
  <div class="featured-cards">
    <h2>Cartes vedettes</h2>
    <div class="card-grid">
      <div class="card-item">
        <img src="../../../assets/dracaufeusetdebase.jpeg" alt="Carte Pokémon 1">
        <div class="card-info">
          <h3>Carte Rare 1</h3>
          <p class="price">89.99 €</p>
          <button class="buy-button">Acheter</button>
        </div>
      </div>

      <div class="card-item">
        <img src="../../../assets/pikachuIllustrator.jpeg" alt="Carte Pokémon 2">
        <div class="card-info">
          <h3>Carte Rare 2</h3>
          <p class="price">79.99 €</p>
          <button class="buy-button">Acheter</button>
        </div>
      </div>

      <div class="card-item">
        <img src="../../../assets/rayquaza.jpg" alt="Carte Pokémon 3">
        <div class="card-info">
          <h3>Carte Rare 3</h3>
          <p class="price">69.99 €</p>
          <button class="buy-button">Acheter</button>
        </div>
      </div>
    </div>
  </div>

  <div class="categories">
    <h2>Catégories Populaires</h2>
    <div class="category-grid">
      <div class="category-item">
        <i class="fas fa-fire"></i>
        <h3>Cartes Rares</h3>
      </div>
      <div class="category-item">
        <i class="fas fa-star"></i>
        <h3>Nouveautés</h3>
      </div>
      <div class="category-item">
        <i class="fas fa-percentage"></i>
        <h3>Promotions</h3>
      </div>
    </div>
  </div>
</section>
